<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>  

    <div id="template-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="background-color: #F0E9D2;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last d-flex justify-content-center align-items-center" style="width: 400px; height: 300px;">
                            <img class="img-fluid" src="/img/nintendo.png" alt="" style="max-width: 100%; max-height: 100%;">
                        </div>                        
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1>Consola Nintendo Switch OLED w/White Joy-Con</h1>
                                <h3>Standard Edition (Versión Internacional) + juego físico de Super Smash Bros</h3>
                                <p>
                                    Pantalla OLED de 7 pulgadas (17.78 cm) - Disfruta de colores brillantes y contrastes definidos en una pantalla que hace que los colores sean más intensos
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last d-flex justify-content-center align-items-center" style="width: 400px; height: 300px;">
                            <img class="img-fluid" src="/img/zelda.png" alt="" style="max-width: 100%; max-height: 100%;">
                        </div>
                        
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">The Legend of Zelda: Tears of the Kingdom</h1>
                                <h3 class="h2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p>
                                    Una épica aventura a través de la superficie y los cielos de Hyrule te espera en el juego The Legend of Zelda: Tears of the Kingdom para la consola Nintendo Switch.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last d-flex justify-content-center align-items-center" style="width: 400px; height: 300px;">
                            <img class="img-fluid" src="/img/monitor.png" alt="" style="max-width: 100%; max-height: 100%;">
                            </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">GMK Monitor Plano 27"</h1>
                                <h3>Diseño Delgado Monitor 75HZ Visión Impactante Proteger Los Ojos Monitor PCpara Trabajar y Jugar</h3>
                                <p>
                                    Admite varias interfaces principales del mercado, equipadas con HDMI, DP, audio y otras interfaces, y admite la conexión de cajas de TV xBOX/PS4 y otros dispositivos para disfrutar de audio y videojuegos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#template-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#template-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
