<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  
<div>
  <footer class="text-center text-white" style="background-color: #678983">
    <div class="container">
      <section class="mt-4">
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="./about" class="text-white">About us</a>
            </h6>
          </div>
          
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Products</a>
            </h6>
          </div>
          
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Help</a>
            </h6>
          </div>
          
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="./contact" class="text-white" >Contact</a></a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="my-2" />

      <section class="mb-2">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, corporis sequi ipsa optio cumque eius sunt ea dolorem molestiae doloremque ab eligendi ex hic suscipit nam consequuntur officia, qui fugiat.
            </p>
          </div>
        </div>
      </section>


      <section class="text-center mb-4">
        <a href="" class="text-white me-4 ">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
    </div>

  <div
        class="text-center p-3"
        style="background-color: #181D31"
        >
      ©2024 Copyright. Todos los derechos reservados
      <a class="text-white" href="#"
        >info@nhan.com</a
        >
    </div>

  </footer>

</div>
</body>
</html>