<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito</title>

    <%- include('partials/head') %>

</head>
<body>

    <%- include('partials/navigation') %>

    <div class="container"> 
        <div class="row mt-4 rounded">
            <div class="col-md-9">
                <div style="background-color: rgba(255, 255, 255, 0.2);" class="rounded p-4"> 
                    <div class="cart-container"> 
                        <h1>Mi Carrito</h1>
                        <hr>
                        
                        <!-- CARRITO VACIO 
                        <div>
                            <h4><b>Tu carrito esta vacio</b></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, iste.</p>
                        </div>
                        -->



                        <div id="items" class="mb-3">
                            <table class="table table-hover table-borderless table-rounded">
                                <thead>
                                    <tr>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Nombre del Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Eliminar</th>
                                        <th scope="col" class="text-end">Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- PRODUCTO 1 -->
                                    <tr>
                                        <td><img src="/img/producto1.jpg" alt="Producto 1" class="img-fluid" style="max-width: 100px;"></td>
                                        <td>Nombre del Producto</td>
                                        <td>1</td>
                                        <td><button class="btn cart-item-remove btn-danger bt-sm"><i class="fas fa-trash-alt"></i></button></td>
                                        <td class="text-end">$500.00</td>
                                    </tr>
                                    <!-- FIN DE PRODUCTO 1 -->
                        
                                    <!-- PRODUCTO 2 -->
                                    <tr>
                                        <td><img src="/img/producto2.jpg" alt="Producto 2" class="img-fluid" style="max-width: 100px;"></td>
                                        <td>Nombre del Producto</td>
                                        <td>1</td>
                                        <td><button class="btn cart-item-remove btn-danger bt-sm"><i class="fas fa-trash-alt"></i></button></td>
                                        <td class="text-end">$2400.00</td>
                                    </tr>
                                    <!-- FIN DE PRODUCTO 2 -->
                                    <!--.....-->

                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- PAGO -->
            <div class="col-md-3">
                <div style="background-color: rgba(255, 255, 255, 0.6);" class="d-flex justify-content-center align-items-center p-4 rounded"> 
                    <div class="text-center">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p class="mb-0">Total a pagar: <b>$5000</b></p>
                        <button class="btn btn-primary mt-3" id="vaciar-carrito">Proceder al Pago</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

</body>
</html>


